/*All paragraphs will have this style*/
p {
    font-family: "Comic Sans MS", Verdana, Arial;
    color: black;
}

/*All body's will have this style*/
body {
    background-color: slategrey;
}

a {
    text-decoration: underline;
    text-decoration-style: solid;
}

a:hover {
    text-decoration: underline;
    color: skyblue;
}

/*when a link is clicked*/
a:active {
    color: black;
}

a:focus {
    color: lime;
}

/*Main heading style*/
#headerMain{
    color: black;
    font-family: "Comic Sans MS", Verdana, Arial;
    font-align: center;
}

/*style of id 'para1' */
#para1 {
    font-align: center;
    color: red;
}

/*class 'new input' location with buffering*/
.inputWithBuffer {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*class 'htmlarea' */
.htmlarea {
    background: #fff;
    border: 1px solid #000000;
}

/*the main styling for important buttons*/
.mainButton {
    background-color: #00FFFF;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    /*icon: url("images/icons/mainButtonIcon.png");  */
}

.mainButton:hover {
    color: lightblue;
    border-color: lightblue;
    background-color: blue;
}

.mainButton:active {
    color: black;
    background-color: red;
    border-color: black;
}

/*header navigation bar*/
.headerNavBar {
    display: flex;
    border: 1px solid black;
    background-color: skyblue;
    height: 36px;
    flex-flow: row wrap;
    border-radius: 10px;
}

/*button in the toolbars*/
.toolBarButton {
    background-color: cyan;
    border: 1px solid black;
    text-decoration: none;
    padding: 1em;
    margin: 0px;
    border-radius: 10px;
}

.toolBarButton:hover{
    color: blue;
    border: 2px solid blue;
    text-decoration-color: darkblue;
    background-color: lightblue;
}

.toolBarButton-wrapper {
    flex: none;
    width: auto;
    text-align: center;
}

.mainToolBarButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 4;
    grid-column-end: 5;
}

/*colors can be defined by rgb funciton, hex value, or name (140 possible)*/
#para2 {
    background-color: rgb(23,76,200);
    color: #00FFFF;
    border-color: purple;
}

/* building a pure css lightbox*/
div.lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.lightbox:target {
    display: table;
}

div.lightbox figure {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

div.lightbox figure figcaption {
    display: block;
    margin: auto;
    padding: 8px;
    background-color: #ddbbff;
    height: 250px;
    position: relative;
    overflow: auto;
    border: 1px #000000 solid;
    border-radius: 10px;
    text-align: justify;
    font-size: 14px;
}

div.lightbox figure .closeButton {
    display: block;
    margin: auto;
    height: 0;
    overflow: visible;
    text-align: right;
    z-index: 10; /*determine the ordering of overlapping items (higher == infront)*/
}

div.lightbox figure .closeButton, div.lightbox figure figcaption {
    width: 300px;
}

.closeButton::after {
    content: "\00D7";
    display: inline-block;
    position: relative;
    right: -20px;
    top: -10px;
    z-index: 3;
    color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    background-color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.closeButton::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.85;
}